.layout {
    display: flex;
    &-row {
        @extend .layout;
        flex-direction: row;
        &.center-align {
            align-items: center;
        }
    }
    &-column {
        @extend .layout;
        flex-direction: column;
        &.center-align {
            align-items: center;
        }
    }
}
.wrapper {
    width: 100rem;
}
.nav-menu {
    ul {
        display: flex;
        padding: 0;
        list-style: none;
    }
}